 //vars
 @import './abstract//variables.scss';

 //pages
 @import './pages/about.scss';
 @import './pages/home.scss';
 @import './pages/contact.scss';
 @import './pages/view.scss';

 //fonts
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
 //Global styles
 body{
     margin: 0;
     padding:0;
     background-color:#fff;
     font-family: 'Montserrat' , sans-serif;
     box-sizing: border-box;
     color:$second;
     a{
         text-decoration: none;
         color: inherit;
     }
     ul{
         margin:0;
     }
 }
 //Section Title Style
 h1.title_section{
     float: left;
 }
 h1.title_section::after{
     content : '';
     display: block;
     background-color:$main;
     height:2px;
     width:80%;
     margin-left: 5px;
    
}