 //container of the page
 .about_container {

     width: 90%;
     margin: 0 auto;
     margin-top: 1.5rem;

     @media screen and (max-width:800px) {
         width: 100%;
     }

     //container of the 3 sections
     .about_us_container {
         width: 50%;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 1rem;

         @media screen and (max-width:800px) {
             width: 100%;
             padding: 0;
         }

         @media screen and (min-height:1300px) {
             width: 100%;
             padding: 0;
         }
     }

     h1.title_section::after {
         width: 50%;
         margin-top: 0.2rem;
         margin-left: 2.5rem;
     }

     .about_paragraph {
         text-align: center;
         margin-bottom: 2rem;
         line-height: 1.5;

         @media screen and (max-width:800px) {
             padding: 1rem;
         }


     }

     //container of the 2 buttons to display them flex
     .btns {
         display: flex;
         width: 100%;
         justify-content: center;
         align-items: center;

         @media screen and (max-width:800px) {
             flex-direction: column;
         }


     }

     .who_are_we_container {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
         margin-top: 4rem;
         padding: 2rem;
         grid-gap: 9rem;

         @media screen and (max-width:800px) {

             margin: 0;
             padding: 1rem;
             display: flex;
             flex-direction: column;
         }

         @media screen and (min-height:1300px) {
             grid-gap: 0;
         }



     }

     // making the illustration takes the size needed 
     .illustration {
         width: 100%;
     }

     p {
         line-height: 2;
     }

     .block_container {
         @media screen and (max-width:800px) {
             text-align: center;
         }
     }
 }