@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
.about_container {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
}
@media screen and (max-width: 800px) {
  .about_container {
    width: 100%;
  }
}
.about_container .about_us_container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media screen and (max-width: 800px) {
  .about_container .about_us_container {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-height: 1300px) {
  .about_container .about_us_container {
    width: 100%;
    padding: 0;
  }
}
.about_container h1.title_section::after {
  width: 50%;
  margin-top: 0.2rem;
  margin-left: 2.5rem;
}
.about_container .about_paragraph {
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.5;
}
@media screen and (max-width: 800px) {
  .about_container .about_paragraph {
    padding: 1rem;
  }
}
.about_container .btns {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .about_container .btns {
    flex-direction: column;
  }
}
.about_container .who_are_we_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 4rem;
  padding: 2rem;
  grid-gap: 9rem;
}
@media screen and (max-width: 800px) {
  .about_container .who_are_we_container {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-height: 1300px) {
  .about_container .who_are_we_container {
    grid-gap: 0;
  }
}
.about_container .illustration {
  width: 100%;
}
.about_container p {
  line-height: 2;
}
.about_container .block_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .about_container .block_container {
    text-align: center;
  }
}

.svg {
  width: 100%;
  height: 100%;
}

body h1.title_section {
  float: none;
  padding-left: 1rem;
}
@media (max-width: 800px) {
  body h1.title_section {
    padding: 0;
    padding-top: 2rem;
    padding-left: 1rem;
  }
}
body h1.title_section::after {
  width: 5%;
}

.home_header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 2rem;
  grid-gap: 5rem;
  height: 100vh;
}
@media (max-width: 600px) {
  .home_header {
    display: flex;
    flex-direction: column;
    height: unset;
  }
}
.home_header h1 {
  font-size: 1.5rem;
}
.home_header p {
  line-height: 2;
}
.home_header .right_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 600px) {
  .home_header .right_block {
    align-items: center;
    text-align: center;
  }
}

.popular_songs_container {
  --webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.popular_songs_container::-webkit-scrollbar {
  width: 0.5em;
  height: 9px;
}
.popular_songs_container::-webkit-scrollbar-thumb {
  background-color: #a0a4ac;
}
.popular_songs_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
@media (max-width: 800px) {
  .popular_songs_container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.popular_songs_container .card {
  width: 200px;
  box-sizing: border-box;
  margin: 2rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular_songs_container .card .music_title {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.5rem;
}
.popular_songs_container .card img {
  width: 100%;
  border-radius: 10px;
}

.music_news_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 2rem;
  grid-gap: 1rem;
  height: 28em;
  padding-left: 0;
}
@media screen and (max-width: 800px) {
  .music_news_container {
    height: auto;
  }
}
.music_news_container .image_news {
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 800px) {
  .music_news_container .image_news {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin: 1rem 0;
  }
}
.music_news_container .illustration {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .music_news_container .illustration {
    width: 110%;
  }
}
.music_news_container .button {
  margin: 0;
  width: fit-content;
  padding: 0.3rem 1rem;
  margin: 0.4rem 0;
}
@media screen and (max-width: 800px) {
  .music_news_container .button {
    margin: 1rem auto;
  }
}
.music_news_container .block_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .music_news_container .block_container h1 {
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .music_news_container .block_container h1 {
    max-width: 80%;
  }
}
.music_news_container .block_paragraph {
  overflow: hidden;
}
.music_news_container .block_paragraph p {
  line-height: 22px;
}
@media screen and (max-width: 800px) {
  .music_news_container .block_paragraph p {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .music_news_container .block_paragraph p {
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .music_news_container .block_paragraph p {
    max-width: 85%;
  }
}
@media screen and (max-width: 800px) {
  .music_news_container {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-height: 1300px) {
  .music_news_container {
    grid-gap: 0;
  }
}

.container_contact {
  width: 100%;
  margin-bottom: 10em;
}
.container_contact .header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_contact .header h1.title_section::after {
  margin: 0 auto;
  width: 50%;
  margin-top: 5px;
}
.container_contact .contact_cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 4em;
}
.container_contact .contact_cards_container .card_contact {
  height: 22em;
  width: 22em;
  background-color: #007ae2;
  margin: 1em 4em;
  border-radius: 25px;
}
.container_contact .contact_cards_container .card_contact * {
  color: #fff;
}
.container_contact .contact_cards_container .card_contact .header {
  height: 180px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.container_contact .contact_cards_container .card_contact .header .profile_image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.container_contact .contact_cards_container .card_contact .header .profile_image img {
  width: 150%;
}
.container_contact .contact_cards_container .card_contact .header span.name {
  margin-top: 10px;
  font-weight: 500;
}
.container_contact .contact_cards_container .card_contact .header span.job {
  font-size: 12px;
  opacity: 0.5;
  font-weight: lighter;
}
.container_contact .contact_cards_container .card_contact .body {
  height: 100px;
  width: 100%;
  overflow-y: auto;
  text-align: center;
}
.container_contact .contact_cards_container .card_contact .body p {
  margin: 0 10px;
  font-size: 15px;
}
.container_contact .contact_cards_container .card_contact .social_media {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_contact .contact_cards_container .card_contact .social_media i:first-child {
  font-size: 20px;
}
.container_contact .contact_cards_container .card_contact .social_media i {
  cursor: pointer;
  font-size: 24px;
  margin: 0 0.7em;
}
.container_contact .contact_cards_container .card_contact .social_media i:last-child {
  font-size: 20px;
}

@media screen and (max-width: 596px) {
  .container_contact .contact_cards_container .card_contact {
    margin-left: 0;
    margin-right: 0;
  }
  .container_contact .contact_cards_container .card_contact .body p.about_you {
    font-size: 12px;
  }
}
.view_lyrics {
  color: #fff;
}
.view_lyrics .header {
  width: 100%;
  padding: 0 2em;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #007ae2;
  background: linear-gradient(169deg, #007ae2 0%, #65b3f6 100%);
}
.view_lyrics .header .info {
  height: 300px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.view_lyrics .header .info .artwork {
  border-radius: 25px;
  max-width: 287px;
  overflow: hidden;
}
@media screen and (max-width: 757px) {
  .view_lyrics .header .info .artwork {
    max-width: 205px;
  }
}
.view_lyrics .header .info .artwork img {
  width: 100%;
}
.view_lyrics .header .info .about_song {
  height: 79%;
  width: 100%;
  margin-left: 20px;
}
.view_lyrics .header .info .about_song .header_about {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.view_lyrics .header .info .about_song .data {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.view_lyrics .header .info .about_song .data div:first-child {
  margin-top: 0;
}
.view_lyrics .header .info .about_song .data div {
  margin: 0.8em 0;
}
.view_lyrics .header .actions {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 2em;
  justify-content: flex-end;
}
.view_lyrics .header .actions div button {
  display: block;
  border: 0;
  background-color: #fff;
  font-family: inherit;
  color: #414141;
  padding: 0.9em 2em;
  margin: 1em 0.9em;
  border-radius: 2em;
  outline: none;
  cursor: pointer;
}
.view_lyrics .content_lyrics {
  width: 97%;
  margin: 0 auto;
  padding: 2em 3em;
}
.view_lyrics .content_lyrics p {
  line-height: 1.7;
  color: #414141;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 18px;
}
.view_lyrics .suggested_songs {
  width: 100%;
  color: #414141;
  --webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.view_lyrics .suggested_songs::-webkit-scrollbar {
  width: 0.5em;
  height: 9px;
}
.view_lyrics .suggested_songs::-webkit-scrollbar-thumb {
  background-color: #a0a4ac;
}
.view_lyrics .suggested_songs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
@media (max-width: 800px) {
  .view_lyrics .suggested_songs {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.view_lyrics .suggested_songs .card {
  width: 200px;
  box-sizing: border-box;
  margin: 2rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view_lyrics .suggested_songs .music_title {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.5rem;
}
.view_lyrics .suggested_songs .artwork {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.view_lyrics .suggested_songs .artwork img {
  width: 100%;
}

@media screen and (max-width: 757px) {
  .view_lyrics .header {
    flex-direction: column;
  }
  .view_lyrics .header .info {
    width: 100%;
  }
  .view_lyrics .header .actions {
    width: 100%;
    justify-content: center !important;
  }
}
@media screen and (max-width: 655px) {
  .view_lyrics .header {
    padding: 1.5em 0;
  }
  .view_lyrics .header .about_song .header_about {
    text-align: center;
  }
  .view_lyrics .header .about_song .data {
    text-align: center;
  }
  .view_lyrics .header .info {
    height: auto;
    flex-direction: column;
  }
  .view_lyrics .header .actions div button {
    display: inline;
  }
}
#search .header {
  background-color: #007ae2;
  height: 90.5vh;
  width: 100%;
  transition: all ease 500ms;
}
#search .header .top {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  align-items: center;
}
#search .header .top h1 {
  color: #fff;
}
#search .header .main {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#search .header .main form {
  text-align: center;
  width: 70%;
}
#search .header .main form ::placeholder {
  color: #222222;
}
#search .header .main form input {
  outline: none;
  border-radius: 3em;
  border: 0;
  padding: 0 3em;
  width: 80%;
  height: 50px;
  font-family: inherit;
}
#search .header .main form button {
  background-color: #fff;
  outline: none;
  border: 0;
  margin-top: 3em;
  padding: 1em 3em;
  border-radius: 5em;
  cursor: pointer;
  font-family: inherit;
}
#search main {
  width: 100%;
  padding: 2em 5em;
  display: flex;
  flex-flow: wrap;
  display: none;
  box-sizing: border-box;
}
#search main .card {
  width: 200px;
  box-sizing: border-box;
  margin: 5rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search main .card .music_title {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.5rem;
}
#search main .card img {
  width: 100%;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #414141;
}
body * {
  box-sizing: border-box;
}
body .loading_screen {
  background: #007ae2;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .loading_screen .loader {
  position: relative;
}
body .loading_screen .one {
  position: absolute;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0;
  animation: loading 1.3s 0.65s infinite;
  height: 20px;
  width: 20px;
}
body .loading_screen .two {
  position: absolute;
  border-radius: 50%;
  background: #2ecc71;
  opacity: 0;
  animation: loading 1.3s infinite;
  height: 20px;
  width: 20px;
}
@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }
}
body a {
  text-decoration: none;
  color: inherit;
}
body li {
  list-style: none;
}
body ul {
  margin: 0;
  padding: 0;
}
body h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0.4rem;
}

h1.title_section {
  float: left;
  font-size: 1.5rem;
}

h1.title_section::after {
  content: "";
  display: block;
  background-color: #007ae2;
  height: 2px;
  width: 80%;
  margin-left: 5px;
}

.button {
  background: #007ae2;
  color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 5px 30px;
  font-size: 1rem;
  margin-right: 1rem;
  border: 1px solid #007ae2;
  width: 9rem;
}
@media screen and (max-width: 800px) {
  .button {
    margin: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (min-height: 1300px) {
  .button {
    margin: 0;
    margin-right: 1rem;
  }
}

.button:hover {
  background: white;
  color: #007ae2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}
header .header_title {
  position: relative;
}
header .header_title svg {
  position: absolute;
  padding-bottom: 5px;
}

footer {
  background: #394667;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 2rem;
  grid-gap: 4rem;
  color: white;
}
@media screen and (max-width: 800px) {
  footer {
    grid-gap: 0rem;
  }
}
footer .social_media_cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social_media_cont > * {
  margin-right: 2rem;
}
footer .social_media_cont .about_us_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}
footer .social_media_cont span {
  font-size: 1.5rem;
}

.hamburger {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 99;
}
.hamburger:focus {
  outline: none;
}
.hamburger:hover {
  transition: all 0.2s ease-in-out;
}
.hamburger:hover .line:nth-child(1) {
  width: 100%;
}
.hamburger:hover .line:nth-child(2) {
  width: 100%;
}
.hamburger:hover .line:nth-child(3) {
  width: 100%;
}
.hamburger .line {
  transition: all 0.2s ease-in-out;
  height: 5px;
  margin: 5px 0;
  border-radius: 5px;
  background: #414141;
}
.hamburger .line:nth-child(1) {
  width: 100%;
}
.hamburger .line:nth-child(2) {
  width: 80%;
}
.hamburger .line:nth-child(3) {
  width: 60%;
}

.closeNavButton {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 0;
  right: 1rem;
}

nav {
  opacity: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(120px);
  z-index: 99;
  background: #007ae2;
  transition: all 0.3s ease-in-out;
}
nav.active {
  position: fixed;
  transform: translateX(0px);
  right: 0;
  opacity: 1;
  width: 30%;
}
@media (max-width: 700px) {
  nav.active {
    width: 100%;
  }
}
nav.active ul {
  display: flex;
}
nav.active li {
  padding-bottom: 2rem;
  color: white;
}
nav ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  display: none;
}
nav ul li {
  text-decoration: none;
}
nav ul li a {
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
